{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
    <h1>Article index</h1>

    <div class="container">
        
        <div class="row">

        {% for article in articles %}

            <a href="{{ path('article_edit', { id: article.id }) }}">
                <div class="col-sm-4">
                    <img class="img-fluid" src="{{ article.picture }}" alt="{{ article.title }}_img"/>
                    <h5>{{ article.title }}</h5>
                    <p>{{ article.tag }}</p>  
                </div>
            </a>

        {% endfor %}
   

        </div>

    </div>

{% endblock %}
